body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', serif;
}
.container {
    max-width: 1500px;
    margin: 0 auto;
}
.header{
    min-height : 10vh;
    width: 100%;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-links{
    padding:2% 2%;
}
nav img{
    width: 160px;
    padding:3% 10%;
}
.nav-links{
    flex: 1; 
    text-align: right;
}
.nav-links h4 li{
    list-style: none;
    display: inline-block;
    padding: 8px 20px;
    position: relative;
}
.nav-links h4 li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
}
.nav-links h4 li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: lightskyblue;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links h4 li a.demo { 
    color: lightskyblue; 
}
.nav-links h4 li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
   font-size: 62px;
}
.text-box p{
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
nav.fa{
    display:none;
}
 .fa-times {
        display: none;
    }
.fa-times{
    opacity:0;
}


@media screen and (min-width: 700px) {
    .fa-bars {
        display: none;
    }
    .fa-times{
        display: none;
        opacity: 0;
    }
}

@media screen and (max-width: 700px) {
    nav img{
        width:80px;
    }
    .fa-bars {
        display: inline-block;
        margin-right: 25px;
        margin-top:25px;
        color:white;
    }
    .fa-times {
        display: none;
    }
    .nav-links {
        display: none;
        position: fixed;
        background: lightskyblue;
        opacity: 0;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -100%;
        text-align: left;
        z-index: 2;
        transition: right 0.5s ease;
    }
    .nav-links.active {
        right: 0;
        opacity: 1;
        display: flex;
    }
    #timesIcon.active {
        display: inline-block;
        position: absolute;
        top: 20px;
        left:10px;
    }
    .nav-links h4 {
        padding: 15px;
        color:black;
    }
    nav.fa {
        display: block;
        color: white;
        margin: 10px;
        font-size: 22px;
        cursor: pointer;
    }
   .header{
    min-height : 15vh;
    width: 100%;
}
}

/*-----actividades-----*/
.actividades{
    padding: 5vw;
    text-align: center;
    align-items: center;
    color: white;
}
.actividades h1{
    font-size: 36px;
    color: white;
    margin-bottom: 20px;
}
.actividades p{
    font-size: 1.2em;
    color: white;

}


/*-----------------Contact-----------------*/
.contact-box {
    text-align: center;
    margin: 20px auto;
    padding: 10px;
    max-width: 600px;
    border-radius: 10px;
}

.contact-box p {
    font-size: 1.2em;
    color: #555;
}

.contact {
    padding: 5vw;
    text-align: center;
    align-items: center;
}

.heading {
    font-size: 36px;
    color: #555;
    margin-bottom: 20px;
}

.form {
    background-color: #222;
    max-width: 80vw;
    align-items: center;
    padding-left:5vw;
}

.input-group {
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 80vw;
    padding-left:5vw;
}

.input-box {
    flex: 1;
    justify-self: center;
}

.input-box input[type="text"],
.input-box input[type="email"],
.input-box input[type="number"],
textarea {
    width: 100%;
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-bottom: 10px;
    font-size: 16px;
}

textarea {
    resize: none;
}

input[type="submit"].btn {
    background-color: lightskyblue;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"].btn:hover {
    background-color: #e03e00;
}

.input-group-2 {
    padding-left:5vw;
    max-width: 80vw;

}

input::placeholder,
textarea::placeholder {
    color: #bbb;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="number"]:focus,
textarea:focus {
    outline: none;
    background-color: #444;
}


/*-----------------Equipo-----------------*/

.TeamTitle{
    padding-top:5vw;
    text-align: center;
    max-width:80%;
    margin:auto;
    font-size: 26px;
    color: white;
}
.content-container{
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content: space-between;
    max-width:80%;
    margin:auto;
}
.Teamimg{
    max-width:50vw;
    align-content: center;
}
.Teamimg img{
    width:100%;
    height:auto;
    display:block;
}
.Teamtext p{
    max-width: 80vw;
    font-size:18px;
    line-height:1.6;
    text-align: justify;
    color: white;
}

@media (max-width: 700px) {
    .content-contain {
        flex-direction: column; 
        align-items: flex-start;
    }
    .TeamText{
        max-width: 90vw;
    }
    .Teamimg{
        max-width:80vw;
    }
}






/*-----------------Footer-----------------*/
.footer{
    width: 100%;
    text-align:center;
    padding-top: 180px;
    padding-bottom: 30px;
    color:white;
}

.footer h2{
    margin-bottom:25px;
    margin-top: 20px;
    font-weight: 600;
}
.icons .fa{
    margin:0 20px;
    cursor: pointer;
    padding:18px 0;
}
.icons .fa-heart{
    color:lightskyblue;
}
.icons .fafa-heart{
    color:lightskyblue;
}
.icons .fa-linkedin, .icons .fa-instagram, .icons .fa-github {
    font-size: 2.5em; 
    color: white;
}